<!-- 
<div class="header_div" style="text-align: center; background-color: blue; height: 50px; color: white; padding-top: 5px;">
    <h3>
        <a style="text-decoration: none; color: white;" href="/">
              Payment Gateway
          </a>
      </h3>
    </div>
    <div style="margin: 25px;">
    </div>

      <div style="text-align:center;">
        <button style="background-color: blue; padding: 10px 20px; margin: 10px;">Add User</button>
        <button style="background-color: blue; padding: 10px 20px; margin: 10px;">Search Records</button>
      </div> -->

      <!-- <!DOCTYPE html> -->
 <!-- <html>
  <head> 
    <style>
      .container {
        display: flex;
        justify-content: center;
         align-items: center; 
        height: 100vh;
      }
      .btn {
        background-color: rgb(21, 75, 223);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="/user/add-user" class="btn">Add Payment</a>
      <a href="/form" class="btn">Search Records</a>
    </div>
  </body>
</html>

       --> 

       <div class="header_div" style="text-align: center; background-color: rgb(21, 75, 223); height: 50px; color: white; padding-top: 5px;">
        <h3>
          <a style="text-decoration: none; color: white;" href="/">Payment Gateway</a>
        </h3>
      </div>
      
      <div style="display: flex;flex-direction: column; justify-content: center; align-items: center; height: 100vh;background-color: lightgrey;">
        <a href="/user/add-user" class="btn" style="background-color: rgb(21, 75, 223); color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin: 10px;">Add Payment</a>
        <a href="/form" class="btn" style="background-color: rgb(21, 75, 223); color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin: 10px;">Search Records</a>
      </div>
      
      <style>
        .btn {
          background-color: rgb(21, 75, 223);
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin: 10px;
          text-decoration: none;
        }
      </style>
      