<div class="header_div" style="text-align: center; background-color: blue; height: 50px; color: white; padding-top: 5px;">
  <h3>
      <a style="text-decoration: none; color: white;" href="/">
            Payment Gateway
        </a>
    </h3>
  </div>
  <div style="margin: 25px;">
  </div>

<form id="search-form" method = "get" action = "/transactions">
    <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Enter Mobile Number">
    <input type="submit" value="Submit"style="background-color: blue; color: white;">
  </form>