<div class="header_div" style="text-align: center; background-color: #0f0f7e; height: 50px; color: white; padding-top: 5px;">
  <h3>
      <a style="text-decoration: none; font-size:larger ; color: white;" href="/">
            Payment Gateway
        </a>
    </h3>
  </div>
  <div style="margin: 25px;">
  </div>

  <form id="search-form" method="get" action="/transactions" style="display: flex; flex-direction: column; align-items: center;">
    <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Enter Mobile Number" required>
    <input type="submit" value="Submit" style="background-color: #0f0f7e; color: white; padding: 5px 10px; margin-top: 10px;">
  </form>
  
  